body {
  font-family: 'Raleway', sans-serif;
}

.fondo-navbar {
  background-color: #373A3C;
}

header {
  height: 630px;
  background-image: url(../img/bg-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 100px;
}

header section {
  width: 616px;
  color: white;
  margin-right: 178px;
}

header h1 {
  font-size: 80px;
  font-weight: 700;
}

#mis-trabajos {
  background: #17A2B8 0% 0% no-repeat padding-box;
  opacity: 1;
}

.card {
  margin-bottom: 30px;
  width: 21rem;
}

.card img {
  height: 15rem;
}

#contact {

  text-align: center;
}


#contact h1 {
  height: auto;

}

.text-center-about-me{
  text-align: center;
font: normal normal bold 50px/59px Raleway;
letter-spacing: 0.5px;
color: #FFFFFF;
opacity: 1;
}

.form-control {
  margin: auto;
  width: 70%;
  height: 40px;
}

.form-label {
  text-align: left;
  width: 70%;
  height: 40px;
  font: normal normal bold 16px/19px Raleway;
  letter-spacing: 0px;
  color: #373A3C;
  opacity: 1;
}

.boton {
  text-align: right;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;

  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
}